@use 'base';
@use 'sass:color';


body {
    background-color: base.$primary-color;
    margin: 0;
    @include base.font();
}


h1 {
    color: base.$secondary-color;
    @include base.font(800, normal);
}

nav {
    padding: 2rem;
    box-shadow: 0rem 0.1rem 1rem black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    

    h1, ul {
        margin: 0;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap ;
        li {
            margin: auto;
        }
    }
}

header {
    text-align: center;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: white;

    &:hover {
        color: lightgrey;
    }
}

.content {
    display: flex;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    flex-direction: column;

    &:not(.wide) {
        max-width: 500px;
    }

    &.wide {
        max-width: 1500px;
    }

    table {
        width: 100%;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: none;
    
    a, td {
        color: black;
    }

    th {
        background-color: base.$secondary-color;
    }

    td, th {
        padding: 0.5rem;
        text-overflow: '';
        overflow: hidden;
        white-space: nowrap;
        min-width: none;
        text-align: left;
    }

    tr:nth-child(odd) { background-color: white; }
    tr:nth-child(even) { background-color: lightgrey; }
}

.inside {
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;;
    box-sizing: border-box;
    
    p, b, li {
        color: black;
    }
}


input:not([type=submit]), label, textarea {
    @include base.font(400, normal);
}


.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &.horizontal {
        flex-direction: row;
        align-items: center;
    }
}

form label {
    font-size: larger;
}

.message-container, .flashes {
    color: white;
    font-size: large;
    margin-bottom: 1rem;
    width: 100%;
}

li, p, label {
    color: white;
}

a.yellow {
    color: base.$secondary-color;

    &:hover {
        color: color.adjust(base.$secondary-color, $lightness: -10%, $hue: -5);
    }
}

.image_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    .image_row {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        background-color: lightgray;
        padding: 0.75rem;
        border-radius: 1rem;

        & > img {
            --dimension: 7rem;
            width: var(--dimension);
            height: var(--dimension);
            object-fit: contain;
            background-color: black;
        }

        div:has(a) {
            flex-grow: 1;
            a {
                color: base.$primary-color;
                &:hover { color: color.adjust(base.$primary-color, $lightness: 40%, $hue: 10deg) }
            }
        }

        button {
            align-self: flex-start;
            padding: 0.5rem 0.75rem;
        }
    }
}