@use 'base';

body {
    background-color: base.$primary-color;
    margin: 0;
    @include base.font();
}


h1 {
    color: base.$secondary-color;
}

nav {
    padding: 2rem;
    box-shadow: 0rem 0.1rem 1rem black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    

    h1, ul {
        margin: 0;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap ;
        li {
            margin: auto;
        }
    }
}

header {
    text-align: center;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
}

a {
    color: white;

    &:hover {
        color: lightgrey;
    }
}

.content {
    display: flex;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    &:not(.wide) {
        max-width: 500px;
    }

    &.wide {
        max-width: 1000px;
    }

    table {
        width: 100%;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    
    a, td {
        color: black;
    }

    th {
        text-align: center;
        background-color: base.$secondary-color;
    }

    td, th {
        padding: 0.5rem;
    }

    tr:nth-child(odd) { background-color: white; }
    tr:nth-child(even) { background-color: lightgrey; }
}

.inside {
    background-color: lightgrey;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;;
    
    p, b, li {
        color: black;
    }
}


input:not([type=submit]), label, textarea {
    @include base.font(400, normal);
}

h1 {
    @include base.font(800, normal);
}




.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &.horizontal {
        flex-direction: row;
        align-items: center;
    }
}




form label {
    font-size: larger;
}