input, label {
    display: block;
}

body {
    padding: 0;
    margin: 0;
}

.parsley-success {
    color: #468847 !important;
    background-color: #DFF0D8 !important;
    border: 1px solid #D6E9C6 !important;
}
.parsley-error {
    color: #B94A48 !important;
    background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;
}

.raleway, input, button, .success_message {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input[type=email] {
    width: 100%;
    padding: 0.75rem;
    border-radius: 2rem;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    outline: none;
    transition: background-color 0.1s;
    color: white;
    font-size: large;
    box-sizing: border-box;
}

input[type=email]:focus {
    border: 1px solid #555;
}

input[type=email]:focus, input[type=email]:hover {
    background-color: rgba(0,0,0,0.25);
}

form {
    color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.success_message {
    margin: 0;
    color: white;
}

button {
    background-color: #FDB907;
    color: black;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 2rem;
    transition: background-color 0.1s;
}

button:hover {
    background-color: #ca890f;
}

body {
    background-color: rgba(0,0,0,0);
}

.parsley-errors-list {
    margin: 0;
}


button {
    font-size: large;
}

label, p {
    font-size: x-large;
}

form {
    width: 100%;
}