.form-control {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  outline: none;
  transition: background-color 0.1s;
  color: white;
  font-size: large;
  box-sizing: border-box;
}
.form-control.partial {
  border-radius: 2rem 0 0 2rem;
}
.form-control:focus {
  border: 1px solid #555;
}
.form-control:focus, .form-control:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

button, input[type=submit] {
  background-color: #FDB907;
  color: black;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 2rem;
  transition: background-color 0.1s;
}
button.partial, input[type=submit].partial {
  border-radius: 0 2rem 2rem 0;
}
button:hover, input[type=submit]:hover {
  background-color: #ca890f;
}

li, p, label {
  color: white;
}

form {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
form textarea {
  resize: vertical;
}
form textarea.large {
  height: 20rem;
  min-height: 20rem;
}
form textarea:not(.large) {
  height: 10rem;
  min-height: 10rem;
}
form input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  display: inline;
  outline: none;
}
form input[type=submit] {
  flex-grow: 1;
}
form h1 {
  margin: 0;
}

i {
  color: lightgray;
}

.center {
  text-align: center;
}

form button, input[type=submit] {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.parsley-success, .parsley-success label, .parsley-success p {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6 !important;
}
.parsley-success label, .parsley-success p, .parsley-success label label, .parsley-success label p, .parsley-success p label, .parsley-success p p {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #DFF0D8 !important;
}
.parsley-success i, .parsley-success label i, .parsley-success p i {
  color: #888888 !important;
  background-color: rgba(223, 240, 216, 0) !important;
  border: 1px solid #DFF0D8 !important;
}

.parsley-error, .parsley-error label, .parsley-error p {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}

body {
  padding: 0;
  margin: 0;
}

.raleway, input, button, .success_message, textarea {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.success_message {
  margin: 0;
  color: white;
}

.form_flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}
.form_flex label {
  flex-grow: 1;
}

label {
  font-size: x-large;
  width: 100%;
}

ul {
  font-size: large;
}

label p {
  margin: auto;
}

input:not([type=checkbox]), label, textarea {
  display: block;
}

label > input + p {
  display: inline;
  font-size: 1.35rem;
  user-select: none;
}

label input:last-of-type {
  margin-top: 0.25rem;
}

label ul, div ul {
  margin-top: 0.25rem;
  margin-bottom: 0;
}

#task-selector {
  padding: 1rem;
  border-radius: 1rem;
}

.email_input_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*# sourceMappingURL=embed2.css.map */
