.form-control {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  outline: none;
  transition: background-color 0.1s;
  color: white;
  font-size: large;
  box-sizing: border-box;
}
.form-control.partial {
  border-radius: 2rem 0 0 2rem;
}
.form-control:focus {
  border: 1px solid #555;
}
.form-control:focus, .form-control:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

button, input[type=submit] {
  background-color: #FDB907;
  color: black;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 2rem;
  transition: background-color 0.1s;
}
button.partial, input[type=submit].partial {
  border-radius: 0 2rem 2rem 0;
}
button:hover, input[type=submit]:hover {
  background-color: #ca890f;
}

body {
  background-color: #012852;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

li, p, label {
  color: white;
}

h1 {
  color: #FCB806;
}

nav {
  padding: 2rem;
  box-shadow: 0rem 0.1rem 1rem black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
nav h1, nav ul {
  margin: 0;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
nav ul li {
  margin: auto;
}

header {
  text-align: center;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
}

a {
  color: white;
}
a:hover {
  color: lightgrey;
}

.content {
  display: flex;
  width: 100%;
  margin: 1rem;
}
.content:not(.wide) {
  max-width: 500px;
}
.content.wide {
  max-width: 1000px;
}
.content table {
  width: 100%;
}
.content form {
  color: white;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}
.content form textarea {
  resize: vertical;
  height: 20rem;
  min-height: 20rem;
}
.content form input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  display: inline;
}
.content form input[type=submit] {
  flex-grow: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table a, table td {
  color: black;
}
table th {
  text-align: center;
  background-color: #FCB806;
}
table td, table th {
  padding: 0.5rem;
}
table tr:nth-child(odd) {
  background-color: white;
}
table tr:nth-child(even) {
  background-color: lightgrey;
}

.inside {
  background-color: lightgrey;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
}
.inside p, .inside b, .inside li {
  color: black;
}

input, label, textarea {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

button, input[type=submit] {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-group.horizontal {
  flex-direction: row;
  align-items: center;
}

label {
  font-size: large;
}

input {
  font-size: normal;
}

/*# sourceMappingURL=page.css.map */
